.paragraph-compare {
    display: grid;
    grid-auto-flow: column;
    gap: 0 4em;
    grid-template-columns: 1fr 1fr;
}

p {
    font-size: 1.4rem;
}

.bree-serif-regular {
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.glyph-compare {
    display: flex;
    align-items: end;
}

.fallback {
    font-family: "Times New Roman", Times, serif;
    font-size-adjust: var(--adjust, 0.5);
}

.outline {
    border: 1px solid orange;
    font-size: 5em;
}

.control-section {
    margin: 3em 0;
}
