.square {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    background-color: blue;
}

.circle {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    background-color: #f90;
    border-radius: 50%;
}

:nth-child(2n of span.circle) {
    background-color: red;
}
