/*
  Container Units

  - https://www.udemy.com/course/modern-html-css-from-the-beginning/learn/lecture/44264010#overview
  - https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Containment/Container_queries#container_query_length_units


Container query length units
When applying styles to a container using container queries, you can use container query length units. These units specify a length relative to the dimensions of a query container:
The container query length units are:
- cqw: 1% of a query container's width
- cqh: 1% of a query container's height
- cqi: 1% of a query container's inline size
- cqb: 1% of a query container's block size
- cqmin: The smaller value of either cqi or cqb
- cqmax: The larger value of either cqi or cqb

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 18px;
  line-height: 1.6;
}

p {
  padding: 2rem;
}

main {
  container-type: inline-size;
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
  background: #f4f4f4;
  height: 100vh;
}

.card {
  background: #fff;
  padding: 2rem;
  margin: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Container Units */
  width: 50cqw;
}

.card h2 {
  margin-bottom: 0.5rem;
}

.card-2 {
  width: 70cqw;
  height: 50cqh;
}

@container (max-width: 600px) {
  .card {
    width: 95cqw;
  }
}
