/*
  Absolute Centering with Translate


  Reference:
  - https://css-tricks.com/centering-css-complete-guide/
  - https://www.udemy.com/course/modern-html-css-from-the-beginning/learn/lecture/13285670#overview

 */
body {
  font-family: "Arial", sans-serif;
}

.container {
  position: relative;
  max-width: 900px;
  margin: 130px auto;
  background: #f4f4f4;
  height: 600px;
}

.logo {
  max-width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  /* Translate the element by -50% of its own width and height to center it */
  transform: translate(-50%, -50%);
}
