/*
  - Flexbox: Order

  - https://developer.mozilla.org/en-US/docs/Web/CSS/order

  The order CSS property sets the order to lay out an item in a flex or grid container. 
  Items in a container are sorted by ascending order value and then by their source code order. 
  Items not given an explicit order value are assigned the default value of 0.
*/

body {
  font-family: Arial, sans-serif;
}

.flex-container {
  display: flex;
  /* flex-direction: row-reverse; */
}

.flex-item {
  background-color: coral;
  border: 1px solid black;
  padding: 30px;
  flex: 1;
}

.item-1 {
  order: 2;
}

.item-2 {
  order: 1;
}

.item-3 {
  order: 3;
}

.item-4 {
  order: 6;
}

.item-5 {
  order: 5;
}

.item-6 {
  order: 4;
}
