/* Universal Selector Reset: applied to every element */
* {
  margin: 0;
  padding: 0;
  /* Include padding and border in element's total width and height, but not margin 
  https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/box-sizing
  */
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.box {
  background: coral;
  max-width: 400px;
  margin: 20px;
  padding: 20px;
}
