@keyframes anim {
    0% {
        transform: translateX(100px) rotate(10deg);
    }
    50% {
        transform: translateX(250px) rotate(10deg);
    }
    70%,
    100% {
        transform: rotate(30deg) translateX(300px);
    }
}

.box {
    background-color: red;
    display: grid;
    place-items: center;
    font-size: 2em;
    font-family: monospace;
    color: #fff;
    border: 5px solid hotpink;
    box-sizing: border-box;
    height: 200px;
    width: 200px;
    margin: 20px;
    transform: translateX(100px) rotate(10deg);
    animation: anim 5s linear infinite;
    &:hover {
        animation-play-state: paused;
    }
}

.replace {
    animation-composition: replace;
}

.accumulate {
    animation-composition: accumulate;
}

.add {
    animation-composition: add;
}
