/*
  - Flexbox: Flex Properties
  - https://www.udemy.com/course/modern-html-css-from-the-beginning/learn/lecture/19142422#overview
  - https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/flex-shrink
  - https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/flex-grow
*/

body {
  font-family: Arial, sans-serif;
}

.flex-container {
  background: lightblue;
  width: 100%;
  display: flex;
}

.flex-item {
  background: coral;
  border: 1px solid black;
  padding: 20px;
  /* Three values: flex-grow | flex-shrink | flex-basis */
  flex: 1 2 10%;
}

.item-1,
.item-2 {
  flex-shrink: 2; /* default is 1, how much the item will shrink relative to others */
  flex-grow: 1; /* grow relative to other items, default is 0, don't grow */
}

.item-2 {
  flex: 3;
}

.item-3 {
  flex-grow: 2; /* the highest in our classes, so it grows the most relative to other items */
  flex-shrink: 0;
  flex-basis: 200px; /* default is auto, initial size before growing or shrinking */
  /* flex: 2; */
}
