.parent {
    anchor-name: --parent-anchor;
    width: 800px;
    height: 400px;
    background-color: beige;
}

.child {
    /* position: relative; */
    top: 100px;
    width: 500px;
    height: 200px;
    background-color: green;
}

.grand-child {
    width: 100px;
    height: 100px;
    background-color: gold;
    position: absolute;
    position-anchor: --parent-anchor;
    position-area: right center;
    top: 10px;
}
