/*
  - Flexbox: Align and Justify Content
  - https://www.udemy.com/course/modern-html-css-from-the-beginning/learn/lecture/19142420#overview

  - In Chrome Dev Tools, try changing the values of justify-content, align-items and other properties to see how they affect the layout of the flex items.
*/

body {
  font-family: Arial, sans-serif;
}

.flex-container {
  background-color: lightblue;
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: row;
  /* Possible values: flex-start, flex-end, center, space-between, space-around, space-evenly */
  justify-content: space-between;
  /* Possible values: flex-start, flex-end, center, stretch, baseline */
  align-items: center;
}

.flex-item {
  height: 100px;
  width: 200px;
  background-color: coral;
  border: 1px solid black;
}

.item-2 {
  /* Override container align-items for this specific item */
  align-self: flex-end;
}

.item-3 {
  align-self: flex-start;
}
