/* 
  Align & Justify 
  - justify-content: Aligns the grid container's content horizontally
  - align-content: Aligns the grid container's content vertically
  - justify-items: Aligns grid items horizontally within their grid area
  - align-items: Aligns grid items vertically within their grid area
  - place-content: Shorthand for align-content and justify-content
  - place-items: Shorthand for align-items and justify-items

  References:
  - https://www.udemy.com/course/modern-html-css-from-the-beginning/learn/lecture/13285650#overview
  - https://developer.mozilla.org/en-US/docs/Web/CSS/justify-content
  - https://developer.mozilla.org/en-US/docs/Web/CSS/align-content
  - https://developer.mozilla.org/en-US/docs/Web/CSS/justify-items
  - https://developer.mozilla.org/en-US/docs/Web/CSS/align-items
  - https://developer.mozilla.org/en-US/docs/Web/CSS/place-content
  - https://developer.mozilla.org/en-US/docs/Web/CSS/place-items

*/
body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1100px;
  margin: 30px auto;
  background: #f4f4f4;
  height: 600px;
}

.item {
  background-color: coral;
  padding: 1rem;
  border: 1px solid #333;
  text-align: center;
}

.item-grid {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 100px);
  /* justify-content: space-evenly; */
  /* align-content: space-around; */
  /* justify-items: stretch; */
  /* align-items: end; */
  /* place-content: space-around; */
  place-items: center;
}
