/*
   Container Queries
  - https://www.udemy.com/course/modern-html-css-from-the-beginning/learn/lecture/44264008#overview
  - https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Containment/Container_queries

  Container queries enable you to apply styles to an element based on certain attributes of its container:
  - The container's size.
  - Styles applied to the container.
  - The container's scroll-state or that of its scrolling ancestor.
  Container queries are an alternative to media queries, which apply styles to elements based on viewport size or other device characteristics.



*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 18px;
  display: flex;
}

p {
  padding: 2rem;
}

main {
  container-type: inline-size; /* just width, or size (width and height) */
  container-name: main;
  width: 100%;
  margin: 30px auto;
  padding: 20px;
}

main p {
  background: lightgreen;
}

aside {
  container-type: inline-size;
  container-name: aside;
  flex: 0 0 30%;
  background: #f4f4f4;
  padding: 20px;
}

@container main (max-width: 992px) {
  main p {
    background: lightblue;
  }
}

@container aside (max-width: 300px) {
  aside p {
    background: lightgreen;
  }
}
