body {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Ubuntu, "Segoe UI",
        "Helvetica Neue", Arial, sans-serif;
    font-size: 1.4em;
}

.btn {
    height: 45px;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Ubuntu, "Segoe UI",
        "Helvetica Neue", Arial, sans-serif;
    text-box: trim-both cap alphabetic;
}

p {
    background-color: #efefef;
}

span {
    background-color: goldenrod;
    text-box: trim-both ex alphabetic;
    display: inline-block;
}
