/* 
  Keyframes 2

  Keyframes are used to create complex animations by defining multiple stages of an animation sequence.


  Reference:
  - https://www.udemy.com/course/modern-html-css-from-the-beginning/learn/lecture/44264834#overview
  - https://developer.mozilla.org/en-US/docs/Web/CSS/@keyframes
*/ 

.container {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 80px;
  height: 80px;
  position: relative;
  animation: spin 2s linear infinite;
}

.loader::before,
.loader::after {
  content: '';
  position: absolute;
  top: 0;
  left: 35px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #3498db;
  animation: bounce 2s infinite ease-in-out;
}

.loader::after {
  left: -35px;
  background: #e74c3c;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-30px);
  }
}
