.paragraph {
    font-size: 1.5rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #555;
}

.btn {
    display: inline-grid;
    font-size: inherit;
    place-content: center;
    border-radius: 5px;
    background: none;
    border: 2px solid #669901;
}

[popover] {
    inset: unset;
    margin: 0;
    position: absolute;
}

.popover-content {
    top: calc(10px + anchor(bottom));
    position-area: block-end span-inline-end;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 0.8em;
    border: 2px solid #bbb;
    &::backdrop {
        background-color: rgb(0 0 0 / 10%);
    }
}
