html,
body {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 0.7em;
    font-family: sans-serif;
    margin: 0.2em 0;
    opacity: 0.5;
}

main {
    width: 500px;
    margin: 0 auto;
    background-color: #e3e3e3;
    padding: 1em 0;
}

p {
    font-size: 1.8em;
    margin: 0 0 1em 0;
}

.wrap {
    text-wrap: wrap;
}

.nowrap {
    text-wrap: nowrap;
}

.balance {
    text-wrap: balance;
}

.pretty {
    text-wrap: pretty;
}

.stable {
    text-wrap: stable;
}
