@view-transition {
    navigation: auto;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

.header {
    background-color: #ddd;
    min-height: 100px;
    display: flex;
    align-items: center;
    padding: 0 2em;
    margin-bottom: 2em;
}

.back {
    font-weight: 700;
    font-size: 0.9em;
    color: #222;
    text-transform: uppercase;
    margin-right: 2em;
    text-decoration: none;
}

.title {
    margin: 0;
}

.nav {
    display: grid;
    grid-auto-flow: row;
    gap: 3em;
    max-width: 60vw;
    margin: auto;
}

.link {
    font-size: 3em;
    color: #222;
    font-weight: 700;
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
    text-decoration-style: solid;
    text-underline-offset: 5px;
    text-decoration-color: #ddd;
    text-align: center;
}

.poster-container {
    max-width: 60vw;
    margin: 0 auto;
    display: grid;
    place-items: center;
}
.poster {
    max-height: 40vh;
}

.caption {
    font-size: 3em;
    font-weight: 700;
    color: #222;
    text-align: center;
    margin: 2em;
}
