/* nth of type Pseudo-classes 

 These pseudo-classes allow you to select elements based on their position among siblings of the same type.

References:
- https://www.udemy.com/course/modern-html-css-from-the-beginning/learn/lecture/13285622#overview
- https://developer.mozilla.org/en-US/docs/Web/CSS/:nth-of-type
- https://developer.mozilla.org/en-US/docs/Web/CSS/:first-of-type- https://developer.mozilla.org/en-US/docs/Web/CSS/:last-of-type

*/

body {
  font-family: 'Arial', sans-serif;
}

/*  Style the first li of it's parent */
ul li:first-of-type {
  font-weight: bold;
}

/*  Style the last li of it's parent */
ul li:last-of-type {
  font-weight: bold;
}

/*  Style the 3rd item */
ul li:nth-of-type(3) {
  font-weight: bold;
  color: green;
}

/*  Style the 6th item */
ul li:nth-of-type(6) {
  font-weight: bold;
  color: green;
}

/*  Style the even items */
ul li:nth-of-type(even) {
  font-weight: bold;
  background: lightgreen;
}

/*  Style the odd items */
ul li:nth-of-type(odd) {
  font-weight: bold;
  background: lightyellow;
}

/* nth-of-type vs nth-child */
p:nth-of-type(2) {
  font-weight: bold;
}

p:nth-child(2) {
  color: red;
}

/* Using pseudo classes with pseudo elements */
.container > p:first-of-type::first-letter {
  font-weight: bold;
  font-size: 2rem;
  color: red;
}
