/*
  Box Shadow
  - https://www.udemy.com/course/modern-html-css-from-the-beginning/learn/lecture/44263792#overview
  - mdn box-shadow: https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow
*/

body {
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin-top: 50px;
}
.box {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.box-1 {
  /* Simple shadow: offset-x offset-y blur-radius spread-radius color */
  box-shadow: 10px 10px 10px 2px #000;
}

.box-2 {
  /* Shadow with RGBA for transparency: 
  offset-x offset-y blur-radius spread-radius rgba(red, green, blue, alpha) 
  */
  box-shadow: 5px 4px 10px 2px rgba(0, 0, 0, 0.5);
}

.box-3 {
  /* Multiple shadows: separate each shadow with a comma 
  offset-x offset-y blur-radius spread-radius color 
  */
  box-shadow: 5px 4px 10px 2px rgba(0, 0, 0, 0.5), -5px 10px 5px red;
}
