body {
    min-height: 300vh;
}

.box {
    height: 200px;
    aspect-ratio: 1;
    background-color: hotpink;
    animation: twizzle linear both;
    animation-timeline: scroll();
    position: fixed;
    top: calc(50% - 100px);
}

@keyframes twizzle {
    0% {
        transform: rotate(0deg);
        left: 0;
    }
    100% {
        transform: rotate(360deg);
        left: calc(100% - 200px);
    }
}
